body{
    margin: auto;
    width: 50%;
    padding: 10px;
}
.Circle{
    border: 1px solid red;
    height: 300px;
    width: 300px;
    border-radius: 150px;
}

#triangle{
    float: right;
    transition: border-color 1s, border-top-width 1s;
    border: 100px solid transparent;
    border-top-width: 0;
    border-bottom-color: rgb(206, 10, 10) !important;
    width: 0;
}
